.clients__title {
  @include font(28px, 700, 1.18, 0.03em, center);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    @include font(36px, 700, 1.17, 0.03em, center);
    margin-bottom: 50px;
  }

  // margin-bottom: 50px;
}

.clients__title--color {
  color: var(--primary-text-color);
}

.clients__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 5 * 30px) / 6);
  }
}

.clients__link {
  // width: 210px;
  height: 92px;
  @include flex(flex, center, center);
  background-color: var(--primary-white-color);
  border: 1px solid var(--primary-icon-color);
  color: var(--primary-icon-color);
  cursor: pointer;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
  @media screen and (min-width: 480px) {
    width: 210px;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
}
