.picture-box {
  height: 120px;
  border: 0px;
  background-color: var(--primary-buttons-color);
  @include flex(flex, center, center);
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.feature__list {
  display: block;
  @media screen and (min-width: 768px) {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}

.feature__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);
  }
}

.feature__subtitle {
  color: var(--primary-text-color);
  @include font(14px, 700, 1.14, 0.03em, center);
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.feature__text {
  color: var(--secondary-text-color);
  @include font(14px, null, 1.7, 0.03em, null);
}
