footer {
  background-color: var(--primary-bg-color);
  padding: 60px 0;
}

.footer__flex {
  @include flex(flex, center, null);
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer__logo-box {
  text-align: center;
}

.logo--white {
  color: var(--primary-white-color);
}

.footer__address {
  font-style: normal;
  margin-top: 20px;
}

.footer__location {
  color: var(--primary-white-color);
  @include font(14px, null, 1.7, 0.03em, null);
  margin-bottom: 9px;
  @include transition(color, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__contact {
  @include font(14px, null, 1.7, 0.03em, null);
  color: var(--white-translucent);
  @include transition(color, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__soc {
  flex-direction: column;
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 0;

    // margin-left: 70px;
  }
  // margin-left: 70px;
}

.footer__text {
  @include font(14px, 700, 1.14, 0.03em, center);
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.soc__link--footer {
  background-color: var(--icon-translucent);
  color: var(--primary-white-color);
  @include transition(
    null,
    background-color,
    null,
    250ms,
    cubic-bezier(0.4, 0, 0.2, 1)
  );
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer__icons {
  fill: currentColor;
}

.footer__box {
  margin-top: 60px;
  // margin-left: auto;
}

.footer__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__input {
  background-color: transparent;
  border: 1px solid var(--input-border-transparent);
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  width: 100%;
  height: 50px;
  cursor: pointer;
  padding: 15px 0 15px 16px;
  color: var(--primary-white-color);
  transition: border-color 250ms var(--timing-function-cubic-bezier);
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  &::placeholder {
    @include font(16px, null, 1.25, 0.03em, null);
    color: var(--white-translucent);
    @include transition(color, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  &:hover::placeholder,
  &:focus::placeholder {
    color: var(--accent-color);
  }
}

.footer__btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  @include flex(flex, center, center);
  gap: 10px;
}
