.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--primary-bg-color);
  text-align: center;
  // max-width: 1600px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: 480px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mob.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-mob-2x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-tab-2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-deck-2x.jpg);
    }
  }
}

.hero__content {
  width: 320px;
  text-align: center;
  @media screen and (min-width: 480px) {
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

.hero__title {
  @include font(26px, 900, 1.6, 0.06em, center);
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    @include font(44px, 900, 1.36, 0.06em, center);
  }
}

.hero__button--color {
  color: var(--primary-white-color);
}

.hero__button {
  margin: 0 auto;
}
