.btn {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
  // width: 290px;
  row-gap: 15px;
  @media screen and (min-width: 480px) {
    justify-content: flex-start;
    width: 362px;
  }
  @media screen and (min-width: 768px) {
    width: 611px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.btn__link {
  font-family: inherit;
  @include font(16px, 500, 1.6, 0.03em, center);
  color: var(--primary-text-color);
  background-color: var(--primary-buttons-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  @include transition(
    color,
    background-color,
    box-shadow,
    250ms,
    cubic-bezier(0.4, 0, 0.2, 1)
  );

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.current-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project__item {
  width: 100%;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}

.project__box {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid var(--border-project-color);
  border-top: none;
}

.project__subtitle {
  @include font(18px, 700, 2, 0.06em, null);
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.project__text {
  @include font(16px, null, 1.88, 0.03em, null);
  color: var(--secondary-text-color);
}

.project__image {
  position: relative;
  overflow: hidden;
}

.project__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 500ms var(--timing-function-cubic-bezier),
    box-shadow 250ms var(--timing-function-cubic-bezier),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.cover {
  @include flex(flex, center, center);
  @include position(absolute, 0, null, null, 0);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--cover-color);
  transform: translateY(101%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0%);
    opacity: 1;
  }
}

.cover__text {
  @include font(16px, null, 1.6, 0.03em, null);
  width: calc(100% - 30px);
  min-height: 140px;
  // overflow: auto;
  padding: 5px 0;
  color: var(--primary-white-color);
  @media screen and (min-width: 480px) {
    @include font(18px, null, 1.56, 0.03em, null);
    width: calc(100% - 48px);
    min-height: 140px;
  }
  @media screen and (min-width: 768px) {
    width: calc(100% - 48px);
    min-height: 168px;
  }

  /* padding: 63px 24px; */
}
