.button {
  font-family: inherit;
  @include font(16px, 700, 1.9, 0.06em, center);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  display: block;
  width: 200px;
  height: 50px;
  @include transition(
    null,
    background-color,
    null,
    250ms,
    cubic-bezier(0.4, 0, 0.2, 1)
  );
  &:hover,
  &:focus {
    background-color: var(--button-accent-color);
  }
}
