.logo {
  font-family: "Raleway", sans-serif;

  @include font(22px, 700, 1.18, 0.03em, null);
  @include transition(color, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);

    @media screen and (min-width: 480px) {
      @include font(24px, 700, 1.17, 0.03em, null);
    }
    @media screen and (min-width: 1200px) {
      @include font(26px, 700, 1.19, 0.03em, null);
    }
  }
}
